[Unit]
Description=irrigation controller
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=gustavo
ExecStart=/usr/bin/python3 /home/gustavo/irrigation/main.py

[Install]
WantedBy=multi-user.target
